@import "../../mixin.scss";
@import "../../variables.scss";

.settings {
  @include flex-column-around;
  width: 50rem;
  height: 12.6rem;
  margin: auto;
  padding: 0 0 0 2.3rem;
  box-shadow: 0 0.3rem 0.25rem $blackShadow24, 0 0.45rem 0.9rem $blackShadow18;
}

.settings-wrapper {  
  @include flex-column;

  .settings-label {
    @include medium-text;
    color: $black;
  }

  .settings-select {
    width: 12.8rem;
  }
}