$blue: #2196F3;
$dark-blue: #0387f3;
$white-blue: #E3F2FD;
$white: #FFFFFF;
$green: #2ecc71;
$red: #f70808;
$light-black: #333333;
$black: black;
$gray: gray;
$blackShadow12: rgba(0, 0, 0, 0.12);
$blackShadow18: rgba(0, 0, 0, 0.18);
$blackShadow24: rgba(0, 0, 0, 0.24);
$blackShadow30: rgba(0, 0, 0, 0.3);
$blackShadow50: rgba(0, 0, 0, 0.5);
$blackShadow60: rgba(0, 0, 0, 0.6);
$blackShadow87: rgba(0, 0, 0, 0.87);
